{{ define "main" }}
<section class="hero">
  <h1 data-i18n="site-title">{{ .Site.Title }}</h1>
  <p data-i18n="tagline">{{ .Site.Params.tagline }}</p>
  <div class="cta">
    <a class="btn primary" href="{{ (site.GetPage "section" "posts").RelPermalink }}" data-i18n="view-posts">Xem bài viết</a>
    <a class="btn ghost" href="{{ relURL "about/" }}" data-i18n="about-me">Về tôi</a>
  </div>
</section>
<section class="intro">
  {{ .Content }}
</section>
<section class="posts-section">
  <h2 style="margin-top:10px" data-i18n="latest-posts">Bài mới nhất</h2>
  <ul class="posts">
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ range first 6 (sort $pages "Date" "desc") }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <p class="excerpt">{{ .Summary }}</p>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
